# /etc/systemd/system/sales_bot.service
[Unit]
Description=Discord NFT Sales Bot Service
After=network.target

[Service]
Type=simple

User=yourusername 
Group=sudo

# If using a virtual environment:
WorkingDirectory=/home/yourusername/discord-nft-sales-bot
ExecStart=/home/yourusername/discord-nft-sales-bot/venv/bin/python /home/yourusername/discord-nft-sales-bot/bot.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
